.header-container {
  width: 100%;
}

.custom-navbar {
  width: 100%;
}

.logo {
  height: fit-content;
  display: flex;
  align-items: center;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .navbar-collapse {
    width: 100%;
    margin-top: 10px;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .custom-navbar {
    flex-direction: column;
  }

  .navbar-toggler {
    display: flex;
    align-items: center;
  }
}
